<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>HARVEST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/first.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qq.css') }}">
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">HARVEST GUARD</h2>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACTUS</a></li>
            <li><a href="/TypePage">TYPES</a></li>
            <li><a href="/info">INFO</a></li>
            <li><a href="/learn">LEARN</a></li>
          </ul>
          <div class="container">
		

            <div class="slide">
    
                
                <div class="item" style="background-image: url(/static/images/lightt.jpeg);">
                    <div class="content">
                        <div class="name">Light</div>
                        <div class="des">Light is crucial for photosynthesis, the process by which plants convert sunlight into energy.
                Different plants have varying light requirements, and factors such as intensity, duration, and quality of light can affect their growth.</div>
                        
                    </div>
                </div>
                <div class="item" style="background-image: url(/static/images/water.jpg);">
                    <div class="content">
                        <div class="name">Water</div>
                        <div class="des">Water is essential for plant survival and is involved in nutrient transport, photosynthesis, and structural support.
                Too much or too little water can be detrimental; water availability varies depending on the plant species and environmental conditions.</div>
                        
                    </div>
                </div>
                <div class="item" style="background-image: url(/static/images/tp.jpg);">
                    <div class="content">
                        <div class="name">Temperature</div>
                        <div class="des">Temperature affects plant metabolism, growth, and development.
                Different plants have specific temperature ranges for optimal growth, and extreme temperatures (hot or cold) can stress plants.</div>
                        
                    </div>
                </div>
                <div class="item" style="background-image: url(/static/images/vv.jpg);">
                    <div class="content">
                        <div class="name">Fertilizers</div>
                        <div class="des">Fertilizers are crucial for plants as they supply essential nutrients, including nitrogen, phosphorus, and potassium, necessary for growth and development. They compensate for soil deficiencies,
                 promote increased crop yield, enhance flowering and fruit production, and help plants recover from stress conditions. </div>
                        
                    </div>
                </div>
                <div class="item" style="background-image: url(/static/images/soso.jpg);">
                    <div class="content">
                        <div class="name">The soil</div>
                        <div class="des">Soil provides plants with essential nutrients, anchorage, and a medium for root growth.
                Soil composition, pH, and drainage can impact plant health and different plants thrive in different types of soil.</div>
                        
                    </div>
                </div>
                
          <div class="item" style="background-image: url(/static/images/weee.jpg);">
                    <div class="content">
                        <div class="name">Wind</div>
                        <div class="des">Wind can influence the structure and growth of plants. Strong winds may cause damage, particularly to tall or delicate plants.
                Wind can also play a role in seed dispersal and pollen movement.</div>
                        
                    </div>
                </div>
    
            </div>
    
            <div class="button">
                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
    
        </div>
        
        
      </div>
      <script src="{{ url_for('static', filename='js/scpt.js') }}"></script>
  </body>
</html>